<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html>
	<head>
		<title>Harrison's Bank | Home</title>
	</head>
	
	<body>
		<div id="container" style="text-align: center; margin-left: auto; margin-right: auto; margin-top: 250px;">
			<h2 style="font-size:28px; font-family:Helvetica">Bank Login</h2>

			<form th:action="@{/validate}" th:object="${loginform}" method="post"> <!-- The Object attribute should be a POJO class with no business logic -->
				<label for="username">Username:</label> <br />
				<input type="text" id="username" th:field="*{username}" placeholder="Username" />
				<br /> <br />
				<label for="password">Password:</label> <br />
				<input type="text" id="password" th:field="*{password}" placeholder="Password" />
				<br /> <br />
				<button type="submit" id="submit">Log in</button>
			</form>
		</div>
	</body>
</html>